.post
  position: relative
  .comments
    .comment
      border-bottom: 2px solid #eee
      &:last-child
        border-bottom: none
      img
        width: 48px
        height: 48px
        border-radius: 100%
        margin: 0 10px
        float: left
      .content
        margin: 10px 0 10px 88px
        .author
          color: #444
          font-weight: 700
        .time
          font-size: 1.6rem
          margin-left: 10px
.imgFrom
  position: absolute
  top: 680px
  right: 40px
  color: rgba(255, 255, 255, .6)
.left
  position: fixed
  left: 50%
  top: 20%
  margin-left: -360px
