.list
  position: absolute
  top: 80px
  right: 0
  background: #fff
  color: #aaa
  z-index: 1001
  font-size: 1.6rem
  padding: 2px
  ul
    margin: 0
    padding: 0
    li
      padding: 3px
      line-height: 20px
      cursor: pointer
      &:hover
        background: #eee
